.charts-container{
  padding: 30px;
  padding-top: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

// each chart thete is a table with the data - for now the table with display-none 
.line-chart-table{
  display: none;
}