.languages-forms {
    padding: 8px;
}

#pageAddEditForm {
    padding: 16px;
    
    .fieldset_language_legend {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .remove_field_icon{
        display: flex;
        &:hover{
            cursor: pointer;
        }

        .fa.fa-minus{
            margin-top: 12px;
        }
    }
}